.soft-border {
    border: 1px solid #0072c4;
    padding: 12px;
}

.jumbotron-ws, .jumbotron-ws a {
    color: #005694;
    font-size: 125%;
}

.jumbotron-ws a {
    font-size: 100%;
    font-weight: normal;
    text-decoration: underline;
}

.ws-sponsors img {
    background-color: white;
    height: 124px;
    padding: 12px;
}

article {
    margin-top: 60px;
    margin-bottom: 60px;
}